header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    font-size: 25px;
}
.column{
    float: left;
    width: 50%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}