header {
    font-family: Noto Sans, sans-serif;
    font-weight: bold condensed;
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 120px, rgb(224, 195, 173) 100vh, rgba(222, 133, 65, 1) 2000px);
    height: 100vh;
}

.logolink {
    text-decoration: none;
}

footer {
    height: 40px;
}

/* hr {
    width: 100%;
    height: 10px;
    color: rgba(103, 56, 48, 1);
    background-color: rgba(103, 56, 48, 1);
    border: solid rgba(103, 56, 48, 1);
    margin-top: 0px;
    border-top: 0px;
    margin-bottom: 0px;
} */

img {
    height: 160px;
    vertical-align: middle;
}

li {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    margin-top: 8px;
    /* color: rgba(103, 56, 48, 1); */
    /* font-weight: bold; */
}

.heading {
    height: fit-content;
    /* margin-left: -8px; */
    margin-bottom: 0px;
}

.titles {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    vertical-align: middle;
    color: rgba(103, 56, 48, 1);
    /* color: rgba(215, 126, 60, 1); */
    font-weight: bold;
    font-size: 42px;
}

h2 {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    vertical-align: middle;
    color: rgba(103, 56, 48, 1);
    font-weight: bold;
    font-size: 42px;
    margin-left: 5px;
}

h3 {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    vertical-align: middle;
    color: rgba(103, 56, 48, 1);
    font-weight: bold;
    font-size: 36px;
    margin-left: 5px;
}

h4 {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    /* color: rgba(103, 56, 48, 1); */
    font-weight: bold;
    font-size: 20px;
}

h5 {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    /* color: rgba(103, 56, 48, 1); */
    font-weight: bold;
    font-size: 18px;

}

label {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    /* color: rgba(103, 56, 48, 1); */
    /* font-weight: bold; */
}

form {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    /* color: rgba(103, 56, 48, 1); */
    /* font-weight: bold; */
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

input[type="checkbox"]+label {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;
    border: 2px solid black;
    /* rgba(103, 56, 48, 1); */
    color: black;
    background-color: white;
    /* margin-bottom: 10px; */
    width: 46%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

input[type="checkbox"]:checked+label {
    border: 2px solid black;
    /* rgba(103, 56, 48, 1); */
    color: black;
    background-color: rgba(217, 181, 154, 1);
}

.small-column {
    float: left;
    padding-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
    height: fit-content;
    width: 15%;
}

.large-column {
    float: left;
    padding-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
    height: fit-content;
    width: 30%;
}

.column {
    float: left;
    padding-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
    height: fit-content;
    width: 16%;
}

button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    /* color: rgba(103, 56, 48, 1); */
    border-color: black; 
    /* rgba(103, 56, 48, 1); */
    /* font-weight: bold; */
    border-style: solid;
    cursor: pointer;
}

#buttons{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
}

#starting {
    display: inline-block;
    /* padding-top: 10px; */
    /* padding-bottom: -2px; */
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: 2px solid black;
    /* rgba(103, 56, 48, 1); */
    color: black;
    background-color: white;
    /* margin-bottom: 10px; */
    width: fit-content;
    height: 38px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    vertical-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
}

p {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    /* color: rgba(103, 56, 48, 1); */
    /* font-weight: bold; */
}

a {
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    color: rgba(215, 126, 60, 1);
    overflow: none;
    /* color: rgba(103, 56, 48, 1); */
}

#inputs {
    background: rgba(103, 56, 48, 1);
    /* linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(103, 56, 48, 1) 5%, rgba(103, 56, 48, 1) 95%, rgba(255, 255, 255, 0) 100%); */
}

a.loc {
    color: black;
}


.smalltextbox {
    width: 20px;
    font-family: Noto Sans, sans-serif;
    line-height: 14px;
    /* color: rgba(103, 56, 48, 1); */
    border: solid 1px black;
    /* rgba(103, 56, 48, 1); */
}

.roundrect {
    border: 1px solid rgba(103, 56, 48, 1);
    /* -moz-border-radius: 15px; */
    /* -webkit-border-radius: 15px; */
    /* border-radius: 15px; */
    /* padding: 5px; */
    /* margin-top: 5px; */
    /* margin-bottom: 15px; */
    max-width: 100%;
    font-family: Noto Sans, sans-serif;
    /* color: rgba(103, 56, 48, 1); */
    line-height: 14px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(217, 181, 154, 1) 100%);
    min-height: fit-content;
    /* height: 100px; */
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 4px;
    margin-top: -1px;
}

#content {
    padding: 10px;
    line-height: 14px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    right: 200px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 14.55%;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 400px;
    overflow: auto;
}

p.resTitle {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: normal;
    line-height: 14px;
}

a.smallLink{
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 12px;
    color: black;
    line-height: 14px;
}
/* 
a.resLink{
    margin-bottom: 11px;
} */

p.blurb{
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 14px;
}

/* Links inside the dropdown */
.dropdown-content a {
    /* color: rgba(103, 56, 48, 1); */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(217, 181, 154, 1);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

#location {
    width: 96%;
    height: 32px;
    border: solid 2px black;
}

#keywordInput {
    width: 100%;
    height: 32px;
    border: solid 2px black;
}

#removedWordInput {
    width: 100%;
    height: 32px;
    border: solid 2px black;
}

#pages {
    margin-bottom: 10px;
}

#pageNum {
    margin-left: 5px;
    margin-right: 25px;
    font-weight: bold;
}

button.pageButton{
    width: 30px;
    margin-left: 0.1%;
    margin-right: 0.1%;
}

#wordlist {
    color:white;
}

#remlist {
    color:white;
}

#outputs {
    padding-top: 10px;
    width: 98%;
}

li {
    color: white;
}